<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/editUser.css">
</head>
<body>
  <%- include('includes/header.ejs') %>

    <div class="container">

        <div class="user-info">
            <img src="<%= user.Image %>" alt="">
            <div class="user-name">
                <%= user.Name %> <%= user.Surname %> 
            </div>
            -
            <div class="mail">
              <%= user.Email %>
            </div>
        </div>
        <hr class="line">
      <form class="newproduct-form" action="/update-settings" method="POST">
        <p class="_1">
          <label for="">Name</label>
          <input type="text" name="Name" id="Name" value="<%= user.Name %>" />
        </p>
        <p class="_2">
          <label for="">Surname</label>
          <input
            type="text"
            name="Surname"
            id="Surname"
            value="<%= user.Surname %>"
          />
        </p>
        <p class="_3">
          <label for="">Email</label>
          <input type="text" name="Email" id="Email" value="<%= user.Email %>" />
        </p>
        <p class="_4">
          <label for="">Username</label>
          <input type="text" name="Username" id="Username" value="<%= user.Username %>" />
        </p>
        <p class="_5">
          <label for="">Password</label>
          <input type="text" name="Password" id="Password" value="<%= user.Password %>" />
        </p>
        <p class="_6">
          <label for="">Image</label>
          <input type="text" name="Image" id="Image" value="<%= user.Image %>" />
        </p>
        <div class="buttons">
          <button class="barcod" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-check"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><polyline points="17 11 19 13 23 9"></polyline></svg>
            <p>Save Changes</p>
          </button>
        </div>
      </form>

<%- include('includes/end.ejs') %>